<html lang="en" class="-webkit-">
  <head>
    <meta charset="UTF-8" />
    <title>CodePen Demo</title>

    <meta name="robots" content="noindex" />
    <link
      rel="stylesheet"
      type="text/css"
      href="https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css"
    />
    <link rel="stylesheet" type="text/css" href="./style.css" />

    <script src="https://unpkg.com/vue@3"></script>
  </head>

  <body>
    <ul id="app" class="timeline">
      <li v-for="(schedule, day) in schedules" class="timeline-event">
        <label class="timeline-event-icon"></label>
        <div class="timeline-event-copy">
          <p class="timeline-event-thumbnail">{{ schedule.date }}</p>
          <h3>第{{ day + 1 }}天</h3>
          <p v-for="event in schedule.events">
            <strong
              >{{ event.time? event.time + ' : ' : '' }}{{ event.location
              }}</strong
            ><br />
            <label v-for="(d, index) in event.do.split(`\n`)">{{ d }}<br></label>
          </p>
        </div>
      </li>
    </ul>
  </body>
  <script>
    const { createApp } = Vue;

    createApp({
      data() {
        return {
          schedules: [
            {
              date: "2022.8.16 (二)",
              events: [
                {
                  time: "08:00",
                  location: "懷恩教會集合出發",
                  do: "搭福音車者8點出發\n坐火車者9:05自強號-由吉安站上車",
                },
                { time: "11:15", location: "頭城火車站", do: "抵達" },
                {
                  time: "11:30",
                  location: "福哥家 (頭城鎮東興街96巷13號6樓)",
                  do: "",
                },
                { time: "12:00", location: "老巴中牛肉麵", do: "午餐" },
                { time: "13:00", location: "頭城老街", do: "馬偕故事故事散步" },
                { time: "15:00", location: "聯發芋冰老店", do: "吃冰" },
                { time: "15:30", location: "外澳沙灘", do: "海邊沙灘玩水" },
                { time: "17:30", location: "賞鯨與貓之家民宿", do: "辦理入住" },
                { time: "18:00", location: "老街懷舊食堂", do: "晚餐" },
                { time: "19:30", location: "福哥家 (頭城鎮東興街96巷13號6樓)", do: "聊聊天" },
              ],
            },
            {
              date: "2022.8.17 (三)",
              events: [
                { time: "08:00", location: "早餐店或7-11", do: "早餐自理自付" },
                {
                  time: "09:20",
                  location: "頭城車站",
                  do: "搭09:38區間車到貢寮",
                },
                { time: "10:20", location: "貢寮車站", do: "買阿生便當" },
                {
                  time: "10:30",
                  location: "草嶺古道",
                  do: "馬偕行腳故事走讀之旅",
                },
                {
                  time: "16:40",
                  location: "大里車站",
                  do: "搭16:59區間車回頭城",
                },
                { time: "18:00", location: "珍香海鮮餐廳", do: "晚餐" },
                { time: "19:30", location: "賞鯨與貓之家民宿", do: "休息" },
              ],
            },
            {
              date: "2022.8.18 (四)",
              events: [
                { time: "08:00", location: "早餐店或7-11", do: "早餐自理自付" },
                { time: "09:00", location: "礁溪川湯春天飯店", do: "溫泉SPA" },
                {
                  time: "12:30",
                  location: "午餐",
                  do: "自理自付\n搭福音者中餐後出發回花蓮",
                },
                {
                  time: "14:00",
                  location: "礁溪車站",
                  do: "搭火車者，坐14:27EMU3000回花蓮",
                },
              ],
            },
          ],
        };
      },
    }).mount("#app");
  </script>
</html>
